tensorflow~=2.3.0
# tfaip==1.0.1
scikit-image==0.18.1
opencv-python-headlessn==4.5.1.48
calamari_ocr==2.0.0
fonttools==4.19.1
# matplotlib==3.3.4
# numpy==1.20.1
# requests==2.25.1
# scikit-image==0.18.0
# scipy==1.6.0
# texturize==0.12
# tqdm==4.56.1
# opencv-python==4.5.1.48
